$dark1 : #090809;
$dark2 : #0c0c0c;
$dark3 : #1C1D21;
$dark4 : #2f333c;
$dark5 : #333533;


$white1 : #F1F2EB;
$white2 : #D8DAD3;
$white3 : #d9d9d9;


$gray1 : #2f2f30;
$gray2 : #39393A;
$gray3 : #575757;
$gray4 : #636363;
$gray5 : #797979;
$gray6 : #a5a5a5;

$red1 : #F40000;
$red2 : #EF3E36;

$pink1 : #f88684;

$yellow1 : #f7c272;
$yellow2 : #9e773e;

$blue1 : #5875c4;